* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    margin: 0px;
    font-size: 14px;
}

table {
    margin-top: 10px;
    /* border: 1px solid red; */
    border-collapse: collapse;
    /* width: 100%; */
}

.display {}

.undisplay {
    visibility: hidden;
}

tr:nth-child(odd) {
    background: #dfe4ea;
}

tr:nth-child(even) {
    background: #eccc68;
}

th {
    padding: 5px 10px;
    border: 1px solid black;
    text-align: center;
    background: #2ecc71;
    color: white;
}

td {
    padding: 5px 10px;
    border: 1px solid black;
    text-align: left;
}

th,
td {
    padding: 15px;
    width: 100px;
}

td:hover {
    background: #bdc3c7;
}

button {}

.table-student-list {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

/* nav */

.nav--display{
    position: fixed;
    top: 0;
    width: 100%;
}

.main-nav {
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    padding: 10px;
}

.nav-link{
    text-decoration: none;
}


/* section about us */
.about-us{
    display: flex;
    flex-wrap: wrap;
}

.about-us--content{
    width: 50%;
}

.about-us--description{
    width: 50%;
}